ccrescentus_RNASeq_analysis.Rproj
/plots
/data
/reports
/results
/results_lfc1
addCommitPush.sh
de_analysis.Rmd
*.Rproj.user
ccrescentus_RNASeq_analysis.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
